.label {
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #FF4C4C;
    -fx-background-color: white;
    -fx-border-color: #FF4C4C;
    -fx-border-width: 1px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-padding: 5 8 5 8;
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}

.avatar {
    -fx-fit-width: 40;
    -fx-fit-height: 40;
}

.dialog-box {
    -fx-border-width: 2;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-padding: 10 16 10 16;
}

.avatar {
    -fx-border-width: 1;
    -fx-border-radius: 60;
    -fx-background-radius: 100;
}

/* User avatar border */
.user .avatar {
    -fx-border-color: #39ff14;   /* cyan */
}

/* Bot avatar border */
.bot .avatar {
    -fx-border-color: #B026FF;   /* purple */
}


#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}
