.root {
    main-color: rgb(237, 255, 242);
    -fx-background-image: url("/seedu/iris/images/background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0% 0%;
    -fx-background-size: 100% 100%;
}

.text-field {
    -fx-font: 20px "Lato";
    -fx-background-color: #ffffff;
}

.button {
    -fx-background-color: mediumspringgreen;
    -fx-font: italic bold 16px "Lato";
    -fx-background-color: linear-gradient(to bottom right,#87CEFA,#00BFFF,#1E90FF);
}

.button:hover {
    -fx-background-color:cyan;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color:orange;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #ADD8E6;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button;
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

.play-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0;

    -fx-min-width: 35px;
    -fx-pref-width: 35px;
    -fx-min-height: 31px;
    -fx-pref-height: 31px;
}

.play-button:hover {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.music-bar {
    -fx-background-color: linear-gradient(
        from 0% 0% to 0% 100%,
        rgba(0,0,0,0.45) 0%,
        rgba(0,0,0,0.01) 100%
    );
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 5, 0.5, 0, 2);
    -fx-padding: 5 15 5 15;
}
